body {
  padding: 20px;
}

#mainPopup {
  color: 'red',
  background-color: '#FF0F0F',
  padding: 10px;
  height: 200px;
  width: 400px;
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
}

.login-icon{
  height: 24px;
  width: 24px;
}
h1 {
  font-size: 2em;
}
